---
import Layout from '@layouts/layout-admin.astro'
import { AuthorAddForm } from '@components/admin/author-add-form'
import { actions } from 'astro:actions'

if (import.meta.env.NODE_ENV !== 'development') {
  return Astro.redirect('/')
}
---

<Layout name="authors" title="작가 추가 | managn">
  <form method="POST" action={actions.author}>
    <AuthorAddForm client:load />
  </form>
</Layout>
