---
import { BookAddForm } from '@components/admin/book-add-form'
import Layout from '@layouts/layout-admin.astro'
import { getAuthors } from '@lib/data'
import { actions } from 'astro:actions'
import { db } from 'db/managn'
import * as schema from 'db/schema'
import { eq, inArray } from 'drizzle-orm'

if (import.meta.env.NODE_ENV !== 'development') {
  return Astro.redirect('/')
}

const { id } = Astro.params
const bookId = Number(id)

if (!id || isNaN(bookId)) {
  return Astro.redirect('/admin/books')
}

const book = await db
  .select()
  .from(schema.books)
  .where(eq(schema.books.id, bookId))
  .get()

const bookAuthors = await db
  .select()
  .from(schema.book_authors)
  .where(eq(schema.book_authors.book_id, bookId))

const authorIds = bookAuthors
  .map((bookAuthor) => bookAuthor.author_id || [])
  .flat()

const bookAuthorsWithData = await db
  .select()
  .from(schema.authors)
  .where(inArray(schema.authors.id, authorIds))

const authors = await getAuthors()

if (!book) {
  return Astro.redirect('/admin/books')
}

const result = Astro.getActionResult(actions.book)
const deleteResult = Astro.getActionResult(actions.deleteBook)

if (result?.data || deleteResult?.data) {
  return Astro.redirect('/admin/books/')
}
---

<Layout name="books" title={`책 수정: ${book.title_ko} | managn`}>
  <form method="POST" action={actions.book} enctype="multipart/form-data">
    <BookAddForm
      client:load
      data={{
        book,
        authors,
        bookAuthors: bookAuthorsWithData,
      }}
    />
  </form>
</Layout>
