---
import Layout from '@layouts/layout-admin.astro'
import { BookAddForm } from '@components/admin/book-add-form'
import { actions } from 'astro:actions'
import { getAuthors } from '@lib/data'

if (import.meta.env.NODE_ENV !== 'development') {
  return Astro.redirect('/')
}

const authors = await getAuthors()

const result = Astro.getActionResult(actions.book)

if (result?.data) {
  return Astro.redirect('/admin/books/')
}
---

<Layout name="books" title="책 추가 | managn">
  <form method="POST" action={actions.book} enctype="multipart/form-data">
    <BookAddForm client:load data={{ authors }} />
  </form>
</Layout>
