---
import Layout from '@layouts/layout.astro'
import { Books } from '@components/books'
import { Nav, NavButton, NavButtonGroup } from '@components/nav'
import { getRandomBooks } from '@lib/data'

const data = await getRandomBooks(10)
---

<Layout title="홈 | managn">
  <Books data={data} />
  <Nav>
    <NavButtonGroup>
      <NavButton href="/books/1" className="bg-red-200"> 더보기 </NavButton>
    </NavButtonGroup>
  </Nav>
</Layout>
