---
import { getCollection } from 'astro:content'
import Layout from '@layouts/layout.astro'
import { Books } from '@components/books'
import { Nav, NavButton, NavButtonGroup } from '@components/nav'
import { withAuthors } from '@helpers/withAuthors'

const collection = await getCollection(
  'books',
  ({ data }) => data.status === 'release'
)
const books = Array.from({ length: collection.length }, () => {
  const randomIndex = Math.floor(Math.random() * collection.length)

  return collection[randomIndex]
}).slice(0, 10)

const data = await Promise.all(books.map(withAuthors))
---

<Layout title="홈 | managn">
  <Books data={data} />
  <Nav>
    <NavButtonGroup>
      <NavButton href="/books/1" className="bg-red-200"> 더보기 </NavButton>
    </NavButtonGroup>
  </Nav>
</Layout>
