---
import { Books } from '@components/books'
import { SearchForm } from '@components/search/search-form'
import Layout from '@layouts/layout.astro'
import { getReleasedBooks } from '@lib/data'
import Fuse from 'fuse.js'

const data = await getReleasedBooks()

const fuse = new Fuse(data, {
  includeScore: true,
  keys: [
    'title_ko',
    'title_ja',
    'authors.name_ko',
    'authors.name_ja',
  ],
})

const url = new URL(Astro.request.url)
const q = url.searchParams.get('q')
const result = fuse.search(q || '')
---

<Layout title="검색 | managn">
  <div class="grid gap-4">
    <SearchForm q={q ?? ''} />
    <Books data={result.map((book) => book.item)} />
  </div>
</Layout>
